body {
    margin: 0px;
}

nav {
    background-color: rgb(75, 61, 53);
    padding: 1vw;
    text-decoration-color: rgb(255, 255, 255); 
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(75, 61, 53);
    padding: 10px 20px;
}

.nav-icons {
    display: flex;
    gap: 15px;
}

.icon-img {
    width: 25px;
    height: auto;
    display: block;
}

ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around; 
}

li {
   list-style: none; 
   padding: 1vw;
   
   border: 2px solid rgb(255, 255, 255);
   border-radius: 0.5vw;
   stroke: 1px;
   background-color: rgb(249, 210, 216); 
}

a {
    text-decoration: none;
    font-family:'Times New Roman', Times, serif
}

a:hover {
    color: rgb(210, 37, 181);
}

main {
    padding: 1vw;
}

p {
    text-align: center;
    font-size: 15pt;
}

h1 {
    text-align: center;
    color: rgb(249, 210, 216);
    /* How to do shadow on text from mdn page */
    text-shadow: 1px 1px 2px rgb(144, 62, 76);
}

h2 {
    text-align: center;
}

/* Inspiration from mdn page */ 
.homePageImages {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    padding: 10px;
} 

/* Help from Google Gemini with the images to align in desktop & mobile */
.homePageImages img {
    width: 100%; /* Picture takes up the whole width of their grid */
    height: auto; /* Keeps the proportions */ 
}

/*
Inspiration from https://www.youtube.com/watch?v=UUjNEMXZA-k */
/*
@media (max-width: 600px) {
    .homePageImages {
        grid-template-columns: 1fr;
    }
}
*/

.headImage {
    width: 100%;
    display: block;
}

footer {
    background-color: rgb(194, 182, 175);
    padding: 5vw;
    margin-top: 100%;
    text-align: center;
}

/*
.homePageImages {
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.homePageImages:hover {
    transform: scale(1.05)
}
*/ 